body {
  /* font-family: "PT Sans", "Arial", sans-serif; */
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;

  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

a {
  text-decoration: none;

  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

.top-menu-list,
.footer-nav-list,
.footer-offer-list,
.social-btn-list,
.delivery-list,
.site-navigation,
.filter-list,
.breadcrumbs-item,
.catalog-list,
.sort-list,
.page-number,
.offer-list {
  list-style: none;
}

.btn {
  margin: 0;
  padding: 0;
}

.main-header {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  padding-bottom: 63px;

  background-color: #f1f5f7;
}

.top-menu {
  margin: 0;
  margin-bottom: 47px;
  padding: 0;

  background-color: #293449;
}

.header-section {
  display: flex;

  margin: 0;
  margin-bottom: 41px;
  padding: 0;

  justify-content: flex-start;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;
}

.top-menu-list {
  display: flex;

  margin: 0;
  padding: 0;

  flex-wrap: wrap;
}

.main-logo a {
  font-size: 24px;
  line-height: 24px;

  display: block;

  box-sizing: border-box;
  width: 220px;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 8px;
  padding-left: 55px;

  text-transform: uppercase;

  background-color: #ee3643;
  box-shadow: 0 5px #b52933;
}

.main-logo a:hover {
  background-color: #ca2c37;
}

.main-logo a:active {
  background-color: #ba2732;
}

.search-field {
  font: inherit;

  display: block;

  width: 270px;
  margin: 0;
  padding-top: 12px;
  padding-right: 17px;
  padding-bottom: 13px;
  padding-left: 48px;

  color: #ffffff;
  border: none;
  background-color: transparent;
}

.search-item,
.top-menu-bookmarks,
.top-menu-cart {
  position: relative;
}

.search-form::before {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 20px;
  height: 20px;

  content: "";

  opacity: 0.3;
  color: white;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
}

.search-form:hover::before,
.top-menu-bookmarks:hover::before,
.top-menu-cart:hover::before {
  opacity: 1;
}

.search-field:hover {
  color: #ffffff;
  background-color: #212a3a;
}

.search-field:focus {
  color: #000000;
  background: #ffffff;
}

.search-field::placeholder {
  opacity: 1;
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  /* Firefox */
}

/* закладки */
.top-menu-bookmarks a,
.top-menu-cart a {
  font-size: 17px;
  line-height: 17px;

  display: block;

  box-sizing: border-box;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 44px;
}

.top-menu-cart a {
  padding-left: 49px;
}

.top-menu-bookmarks::before {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 20px;
  height: 20px;

  content: "";

  opacity: 0.3;
  color: #ffffff;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
}

.top-menu-cart::before {
  position: absolute;
  top: 12px;
  left: 18px;

  width: 20px;
  height: 20px;

  content: "";

  opacity: 0.3;
  color: #ffffff;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
}

.top-menu-bookmarks a:hover,
.top-menu-cart a:hover {
  background-color: #212a3a;
}

.top-menu-bookmarks:active::before,
.top-menu-cart:active::before {
  opacity: 0.5;
}

.top-menu-bookmarks a:active,
.top-menu-cart a:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.full.top-menu-cart a {
  background-color: #ee3643;
}


.top-menu-checkout a {
  font-size: 17px;
  line-height: 17px;

  display: block;

  box-sizing: border-box;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 20px;

  background-color: #63a63e;
}

.top-menu-checkout a:hover {
  background-color: #5fbb2d;
}

.top-menu-checkout a:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #518534;
}

.header-section p {
  margin: 0;
}

.header-about {
  font: inherit;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;

  display: block;

  box-sizing: border-box;
  width: 320px;
  margin: 0;
  padding-top: 1px;
  padding-left: 52px;

  color: #ee3643;
}

/* телефон и адрес в шапке */
.main-phone {
  position: relative;

  width: 270px;
}

.main-phone::before {
  position: absolute;
  top: 13px;
  left: 15px;

  width: 19px;
  height: 19px;

  content: "";

  background-image: url("../img/icon-phone.svg");
}

.main-phone a {
  font-size: 21px;
  line-height: 21px;

  display: block;

  box-sizing: border-box;
  padding: 8px 40px 10px 71px;

  color: #e9292a;
  border: 3px solid #ffffff;
}

.main-phone p {
  font-size: 14px;
  line-height: 14px;

  display: block;

  box-sizing: border-box;
  padding-top: 9px;
  padding-left: 9px;

  color: #32425c;
}



.user-navigation {
  margin-left: auto;
}

.user-login,
.user-register,
.user-profile {
  font: inherit;
  font-size: 21px;
  font-weight: 400;
  line-height: 22px;

  color: #000000;
  border: none;
  background-color: #ffffff;
}

.user-profile {
  position: relative;

  box-sizing: border-box;
  margin-bottom: 6px;
  padding-top: 11px;
  padding-right: 69px;
  padding-bottom: 11px;
  padding-left: 45px;
}

.my-profile {
  display: block;

  margin: 0;
  margin-left: 18px;
  padding: 0;
}

.user-profile::before {
  position: absolute;
  top: 12px;
  left: 13px;

  width: 20px;
  height: 18px;

  content: "";

  opacity: 0.3;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
}

.user-profile::after {
  position: absolute;
  top: 14px;
  right: 11px;

  width: 20px;
  height: 17px;

  content: "";

  opacity: 0.3;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
}

.user-register {
  font-size: 21px;

  box-sizing: border-box;
  width: 150px;
  padding-top: 11px;
  padding-bottom: 13px;

  text-align: center;
}

.user-login {
  position: relative;

  box-sizing: border-box;
  width: 121px;
  margin: 0;
  margin-right: 6px;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 22px;
}

.user-login::before {
  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;

  content: "";

  opacity: 0.3;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
}

.user-login:hover::before {
  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;

  content: "";

  background-image: url("../img/icon-login-blue.svg");
  background-repeat: no-repeat;
}

.user-login:active::before {
  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;

  content: "";

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
}

.user-login:hover,
.user-register:hover {
  color: #ee3643;
}

.user-login:active,
.user-register:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-profile:active {
  color: rgba(0, 0, 0, 0.3);
}

.my-orders,
.my-account {
  font: inherit;
  font-size: 16px;

  text-decoration: underline;

  color: #32425c;
}

.my-orders {
  position: relative;

  padding-right: 28px;
}

.my-orders::after {
  position: absolute;
  top: 7px;
  right: 9px;

  width: 4px;
  height: 5px;

  content: "";

  background-image: url("../img/dot-between.jpg");
  background-repeat: no-repeat;
}

.my-orders:hover,
.my-account:hover {
  color: #ee3643;
}

.my-orders:active,
.my-account:active {
  color: rgba(50, 66, 92, 0.3);
}

/* фон меню и состояния*/
.site-navigation {
  display: flex;

  margin: 0;
  padding: 0;

  flex-wrap: wrap;
}

.site-navigation li:nth-child(1n+1) a {
  padding-right: 30px;
  padding-left: 30px;
}

.site-navigation li:nth-child(6) a {
  padding-right: 33px;
}

.site-navigation li:first-child a {
  padding-right: 33px;
  padding-left: 52px;
}

.site-navigation li:last-child a {
  padding-right: 52px;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;
}

.main-navigation ul {
  box-shadow: 0 5px #293449;
}

.main-navigation a {
  display: block;

  padding-top: 20px;
  padding-bottom: 18px;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

.filter-columns {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  align-items: flex-start;
}

.offer-list {
  margin: 0;
  padding: 0;
}

.shop-offer { margin: 0;
  padding: 0;
  margin-bottom: 53px;
}



.title-wrapper {
  display: flex;

  justify-content: space-between;
  padding-left: 28px;
  padding-right: 24px;
 
  background-color:#f9f5f0;
  margin-bottom: 20px;
}
 
.catalog-columns

/* -----  отступы до номера страницы  -----*/
  {
  display: flex;

 

  justify-content: space-between;
}

.price-filter

/* -----  тут фильтр цены  -----*/
  {
  display: block;

  min-height: 246px;
  margin-bottom: 12px;

  border-bottom: 1px solid #f7f3ec;
}

.filter-fieldset {
  border: none;
}

.filter-legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;

  text-transform: uppercase;

  color: #000000;
}

.filter-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;

  text-transform: uppercase;

  color: #000000;
}

.filter-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;

  text-transform: uppercase;

  color: #000000;
  border: none;
  background-color: #ffffff;
}

.breadcrumbs-item {
  position: relative;

  margin: 0;
  padding: 0;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 50px;
}

.breadcrumbs-item li {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;

  display: inline-block;

  text-transform: uppercase;
}

.breadcrumbs-item li a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;

  text-transform: uppercase;

  color: #000000;
}

.catalog-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;

  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 27px;

  text-transform: uppercase;

  color: #32425c;
  background-color: #f2f6f8;
}
/*
.catalog-item-action {
  padding-top: 44px;
}
 

.catalog-item {
  font-size: 18px;
  line-height: 20px;

  position: relative;

  overflow: hidden;
 
  width: 218px;

  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.new::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 10;

  width: 60px;
  height: 60px;

  background: url("img/new-flag.png") no-repeat 0 0;
}

.catalog-item:hover .catalog-item-action {
  display: block;

  height: 65px;
}

.item-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;

  display: block;

  width: 160px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 10px;

  color: #000000;
}

.item-title,
.catalog-item-old-price {
  text-align: center;
}

.catalog-item-old-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;

  margin: 0;
  padding: 0;
  padding-bottom: 11px;

  text-decoration: line-through;

  color: #999999;
}

.catalog-item .catalog-item-action {
  position: absolute;

  display: none;

  width: 219px;
  height: 317px;

  background-color: #ffffff;
}

.btn-item-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;

  position: relative;
  z-index: 1;

  display: block;

  width: 100px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 9px;

  text-transform: uppercase;

  color: #ffffff;
  border: 0;
  background-color: transparent;
}

.catalog-item::after {
  position: absolute;
  z-index: 0;
  bottom: 19px;
  left: 42px;

  width: 141px;
  height: 38px;

  content: "";

  background-image: url("../img/btn-item-price.svg");
}

 
.buy-item {
  font-size: 14px;
  line-height: 14px;

  display: block;

  width: 134px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  padding-top: 12px;
  padding-bottom: 9px;

  text-transform: uppercase;

  color: #ffffff;
  border: none;
  border-radius: 3px;
  border-radius: 3px;
  background-color: #63a63e;
  box-shadow: 0 3px #367315;
}

.buy-item:hover {
  background-color: #5fbb2d;
}

.buy-item:active {
  background-color: #518534;
  box-shadow: 0 3px #518534;
}


.img-container img {
  display: block;
 
 
  margin: 0;
  margin: 0 auto;
  padding: 0;
    
}

.img-container {
   
  margin: 0;
  padding: 0;

 
}

 
.bookmark-item {
  font-size: 14px;
  line-height: 18px;

  display: block;

  box-sizing: border-box;
  width: 134px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 9px;
  padding-bottom: 6px;

  text-transform: uppercase;

  color: #32425c;
  border: 3px solid #63a63e;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: none;
}

.bookmark-item:hover {
  border: 3px solid #32425c;
}

.bookmark-item:active {
  color: #c1c6ce;
  border: 3px solid #c1c6ce;
}
*/
.shop-offer

/* section */
  {
  min-height: 409px;
  margin: 0;
  padding: 0;
 margin-bottom: 54px;
  
  background-color: gray;
}

.popular-goods

/* section */
  {
  min-height: 448px;
  margin: 0;
  padding: 0;
 margin-bottom: 32px;
 
}

.popular-trade-marks

/* section */
  {
  min-height: 504px;
  margin: 0;
  padding: 0;

  background-color: gray;
}

.services

/* section */
  {
  min-height: 522px;
  margin: 0;
  padding: 0;

  background-color: lightgray;
}

.section-wrapper

/* оболочка для раздела сервисы */
  {
  display: flex;

  padding: 55px 0;

  justify-content: space-between;
}

.section-title

/*  H2  */
  {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;

  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 25px;

  text-transform: uppercase;

  color: #000000;
}

.company

/* section */
  {
  width: 540px;
  margin: 0;
  padding: 0;
}

.company p,
.contacts p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;

  margin: 0;
  padding: 0;
  padding-bottom: 25px;

  color: #000000;
}

.contacts {
  width: 300px;
  margin: 0;
  padding: 0;
}

.contacts p {
  padding-bottom: 34px;
  /* -----  отступ до футера в индексе ----- */
}

.contacts-map {
  display: block;

  padding-bottom: 36px;
}

.delivery-list {
  margin: 0;
  margin-top: -3px;
  padding: 0;
  padding-bottom: 19px;
  padding-left: 36px;
}

.delivery-item {
  font-size: 18px;
  line-height: 20px;

  position: relative;

  padding-bottom: 19px;

  color: #000000;
}

.delivery-item:nth-child(1n+1)::before {
  position: absolute;
  top: 9px;
  left: -36px;

  width: 25px;
  height: 2px;

  content: "";

  background-image: url("../img/red-line.jpg");
}

.add-to-cart-pop {
  width: 500px;
  height: 300px;

  background-color: #ffffff;
}

.item-added p {
  font-size: 30px;
  line-height: 30px;
}

.add-to-cart-pop-buttons {
  width: 500px;
  height: 50px;

  background-color: #f1f1f1;
}

.more-info-btn,
.write-us-btn,
.submit-form-btn,
.proceed-to-checkout{
  font: inherit;
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  border: none;
  border-radius: 3px;
  background-color: #ee3643;
}

.more-info-btn,
.write-us-btn
  {
  display: block;

  width: 220px;
  margin-bottom: 30px;
  padding-top: 11px;
  padding-bottom: 9px;

  border-radius: 3px;
}

.write-us-btn {
  width: 300px;
}
.show-all-goods-btn {
font: inherit;
  font-size: 14px;
  line-height: 18px;
    width:253px; 
color: #ffffff;
  border: none;
  text-align: center;
  text-transform: uppercase;
  display: block;
  border-radius: 3px;
margin-top:25px; margin-bottom: 26px;
padding-top: 11px;
  padding-bottom: 9px;
  background-color: #ee3643;}

.modal-close {
  font: inherit;
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;

  color: #000000;
  border: none;
  border-radius: 3px;
  background-color: #ffffff;
}

.name-form,
/* форма write us*/
.email-form,
.messge-form {
  font: inherit;
  font-size: 18px;
  line-height: 18px;

  color: #000000;
}

.name-area,
.message-area,
.email-area {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;

  color: #a9a9a9;
  border: 2px solid #dee3e4;
}


.footer-bottom p

/* ---------- начало футера ---------- */
  {
  color: #ffffff;
}

.main-footer {
  background-color: #32425c;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom-wrapper {
  display: flex;

  justify-content: space-between;
}

.footer-rights {
  font-size: 16px;
  line-height: 18px;

  display: block;

  margin-bottom: 50px;
  padding-top: 36px;

  color: #ffffff;
}

.social-btn-list {
  display: flex;
  flex-direction: row;

  width: 130px;
  padding-top: 17px;

  justify-content: space-between;
}

.social-btn-item {
  width: 40px;
  height: 40px;

  border-radius: 50px;
  background-color: #212a3a;
}

.social-btn-item:hover,
.social-btn-item:active {
  background-color: #ee3643;
}

.social-btn-vk {
  background-image: url("../img/vk-icon.svg");
}

.social-btn-fb {
  background-image: url("../img/fb-icon.svg");
}

.social-btn-insta {
  background-image: url("../img/insta-icon.svg");
}

.social-btn-vk,
.social-btn-fb,
.social-btn-insta {
  display: block;

  height: 40px;

  background-repeat: no-repeat;
  background-position: center;
}

.last-block {
  display: flex;

  width: 300px;
  padding-top: 20px;

  justify-content: space-between;
}

.site-developer {
  padding-right: 14px;
}

.mailto,
.site-developer {
  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
}

.mailto a,
.site-developer a {
  font-size: 16px;
  line-height: 18px;

  display: block;

  color: #ffd180;
}

.mailto a:hover,
.site-developer a:hover {
  text-decoration: underline;
}

.mailto a:active,
.site-developer a:active {
  text-decoration: none;

  color: #ee3643;
}

/* ----------------------------------------------------------------------- */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-wrapper {
  display: flex;

  justify-content: space-between;
}

.footer-info {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.footer-logo {
  font-size: 30px;
  line-height: 30px;

  display: block;

  width: 220px;
  margin-bottom: 32px;
  padding-top: 17px;
  padding-bottom: 16px;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #ee3643;
  box-shadow: 0 5px #b52933;
}

.address {
  font-size: 18px;
  font-style: normal;
  line-height: 24px;

  margin: 0;
  padding: 0;
  padding-bottom: 51px;
  padding-left: 2px;

  color: #ffffff;
}

.footer-nav {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  flex-wrap: wrap;
  align-items: flex-end;
}

.footer-nav-list,
.footer-offer-list {
  display: flex;

  margin: 0;
  padding: 0;

  justify-content: flex-end;
}

.footer-nav-list li {
  display: block;

  padding-top: 39px;
  padding-left: 59px;
}

.footer-offer-list li {
  display: block;

  padding-top: 38px;
  padding-left: 60px;
}

.footer-offer-list a,
.footer-nav-list a {
  font-size: 18px;
  line-height: 20px;
}

.footer-offer-list a {
  color: #ffd180;
}

.footer-nav-list a:hover,
.footer-offer-list a:hover {
  text-decoration: underline;
}

.footer-nav-list a:active {
  text-decoration: none;

  color: rgba(255, 255, 255, 0.5);
}

.footer-offer-list a:active {
  text-decoration: none;

  color: rgba(255, 209, 128, 0.5);
}

.item-sort {
  min-height: 38px;
  margin-bottom: 20px;

  background-color: #f7f3ec;
}

.filters {
  width: 220px;
}

.sort-list {
  display: flex;

  margin: 0;
  padding: 0;

  text-transform: uppercase;

  justify-content: space-between;
}

.sort-list a,
.sort-list p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;

  display: block;

  margin: 0;
  margin-right: 10px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 18px;

  color: #000000;
}

.ud a,
.du a {
  font-size: 0;

  position: relative;

  margin: 0;
  padding: 0;
}

.ud a::before {
  position: absolute;
  top: 13px;
  left: -2px;

  width: 11px;
  height: 10px;

  content: "";

  opacity: 0.3;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
}

.ud a:focus::before,
.du a:focus::before {
  opacity: 1;
  background-image: url("../img/icon-up-dir-red.svg");
  background-repeat: no-repeat;
}

.du a::before {
  position: absolute;
  top: 13px;
  left: -30px;

  width: 11px;
  height: 10px;

  content: "";

  opacity: 0.3;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
}

.h3-header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;

  box-sizing: border-box;
  width: 220px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 18px;

  text-transform: uppercase;

  border-radius: 2px;
  background-color: #f7f3ec;
}

.filter-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 7px;
  padding-bottom: 10px;

  text-transform: uppercase;
}

.catalog {
  display: flex;
  flex-direction: column;

  width: 700px;
}

.catalog-item {
    display:flex;
    flex-direction: column;
    align-items: center;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-list {
  display: flex;

  margin: 0;
  padding: 0;



  flex-wrap: wrap;
}

.page-number {
  display: flex;

  margin-bottom: 60px;
  margin-left: 200px;



  justify-content: flex-start;
}

.pg {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;

  display: block;

  box-sizing: border-box;
  min-width: 38px;
  margin-right: 10px;
  padding: 0 auto;
  padding-top: 9px;
  padding-bottom: 10px;

  text-align: center;
  text-transform: uppercase;

  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.current-page {
  box-sizing: border-box;

  color: #ffffff;
  border: 1px solid #ee3643;
  background-color: #ee3643;
}

.next-page {
  width: 138px;
}


.item-info-section {
  background-color: #f2f6f8;
}

.about-item-p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;

  margin: 0;
  padding: 0;
  padding-bottom: 70px;
}

.about-item-h3 {
  font-size: 30px;
  font-weight: 400;

  padding-top: 72px;

  text-transform: uppercase;
}


.popular-goods-wrapper .catalog-item {margin-right: 20px;}
.popular-goods-wrapper .catalog-item:last-child {margin-right:0;}


 .popular-goods-wrapper {display: flex;}

.catalog-item {
  position: relative;

  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;

 
  vertical-align: top;
  text-align: center;

  border: 1px solid #cccccc;
  font-family: "PT Sans", "Arial", sans-serif;
font-weight: 700;
font-size: 17px;
}

 

.new::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 10;

  width: 60px;
  height: 60px;

  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;


  background-color: #ffffff;
   
}

.actions .buy,
.actions .bookmark {
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 10px 0;

  font-size: 14px;
  
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #63a63e;
  border-radius: 3px;

}

.actions .buy {
  box-shadow: inset 0 -3px 0 #367315;
}

.actions .bookmark {
  width: 129px;
  padding: 7px 0;

  color: #63a63e;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item-image {
  width: 218px;
  height: 168px;
}

.catalog-item .title {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0 25px;

  font-size: 18px;
  line-height: 20px;
}

.catalog-item .discount {
  min-height: 20px;
  margin-bottom: 10px;

  color: #999999;
  text-decoration: line-through;
}

.catalog-item .price {
  position: relative;

  width: 80px;
  margin: 0 auto 20px;
  padding: 10px 30px;

  color: #ffffff;

  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}

